@import "node_modules/normalize-scss/sass/normalize";

@import "scss/bourbon/bourbon";
@import "neat/neat-helpers";
@import "scss/grid-settings";
@import "scss/neat/neat";

@include normalize();

$color-dark: #231F20;
$color-light: #999999;

* {
    font-family:'Libre Baskerville', serif;
    color: white;
}
html {
    font-size: 62.5%;
}

body {
    background: $color-dark;
    font-size: 1.6rem;
}

h1 {
    line-height: 1.2;
    font-style: italic;
    letter-spacing: .02em;
    margin: 0;
    padding-left: 1rem;
    @include media($mobile) {
        font-size: 400%;
    }
    @include media($tablet) {
        font-size: 500%;
    }
    @include media($laptop) {
        font-size: 735%;
    }
    @include media($desktop) {
        font-size: 870%;
    }
}

h2 {
    margin: 0;
    color: $color-light;
    @include media($mobile) {
        font-size: 200%;
    }
    @include media($tablet) {
        font-size: 340%;
    }
    @include media($desktop) {
        font-size: 400%;
    }
}

ul {
    padding: 0;
    @include media($tablet) {
        padding-left: 1.3em;
    }
}

ul, li {
    list-style: none;
    @include media($tablet) {
        list-style: disc;
    }
}
ul.socials {
    padding: 0;
    li {
        display: inline-block;
        margin: 0 .5em;
        @include media($tablet) {
            margin-left: 0;
        }
    }
    a {
        border: 0;
    }
    span {
        display: none;
    }
}

li {
    line-height: 1.2;
    margin: 1rem 0;
}

a {
    text-decoration: none;
    border-bottom: .1rem solid white;
}
#container {
    @include outer-container;
}

#expertise,
#placeholder {
    text-align: center;
    padding: 1rem;
    margin-top: 10rem;
    @include media($mobile) {
        @include span-columns(4);
    }
    @include media($mobile-landscape) {
        margin-top: 10%;
    }
    @include media($tablet) {
        @include span-columns(6);
        @include shift(1);
        text-align: left;
        border: .1rem solid #999;
        border-left: 0;
        border-right: 0;
    }
    @include media($laptop) {
        @include span-columns(8);
        @include shift(2);
    }
}

#expertise {
    margin-top: 1em;
    text-align: center;
    padding: 1rem;
    padding-bottom: 5rem;
    border: 0;

    @include media($tablet) {
        text-align: left;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        display: block;
        @include media($tablet) {
            display: inline-block;
        }
        white-space: nowrap;
        @include border-top-radius(1.5rem);
        @include border-bottom-radius(1.5rem);
        background: $color-light;
        color: $color-dark;
        padding: .7rem 1.5rem .7rem 3rem;
        margin-right: .5rem;
        position: relative;
        &::before {
            color: white;
            content: ".";
            position: absolute;
            font-size: 400%;
            left: .6rem;
            top: -4rem;
        }
    }
}
