doctype html
html
    head
        title Man van het web
        link(href='stylesheets/style.css', rel='stylesheet')
        link(href='assets/icomoon/style.css', rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i", rel="stylesheet")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        #container
            #placeholder
                h1 MVHW
                h2 Man van het web

                h3 Contact
                ul
                    li 
                        a(href="https://linkedin.com/in/martijngorree") Martijn Gorree
                    li 
                        a(href="mailto:martijn@manvanhetweb.nl") martijn@manvanhetweb.nl
                    li 
                        a(href="tel:+31612440841") +31 6 12 44 08 41
                ul.socials
                    li
                        a(class="icon-linkedin", href="https://linkedin.com/in/martijngorree/", target="_blank")
                            span LinkedIN
                    li
                        a(class="icon-github", href="https://github.com/martijngorree/", target="_blank") 
                            span GitHub
                    li
                        a(class="icon-bitbucket", href="https://bitbucket.org/martijngorree/", target="_blank") 
                            span Bitbucket
                        
            #expertise
                div
                    p I'm a jack of all trades. I define myself as a tech director, scrummaster, team lead and full stack creative developer. My experience ranges from concepting and leading the development team to the actual nitty gritty creation, releasing and maintenance of it all.
                    p As for my development skills, I have a wide range of experience with: Django / Python projects, as a devops engineer and with frontend work
                    p 
                        | I've done freelance work for:
                        | 
                        a(href="https://stager.nl") Stager
                        | , 
                        | 
                        a(href="https://calendar42.com") Calendar42
                        | , 
                        | 
                        a(href="https://www.nibhv.nl") NIBHV
                        | ,
                        | 
                        a(href="https://www.bedrockdevelopment.nl/") Bedrock
                        | 
                        | and
                        |
                        a(href="https://omniscale.nl") Omniscale
                    p
                        | And over the years at 
                        |
                        a(href="https://fabrique.nl") Fabrique
                        | 
                        | I've worked for, among others:
                        | 
                        a(href="https://heineken.com") Heineken
                        | , 
                        | 
                        a(href="https://www.tweedekamer.nl/") Tweedekamer
                        | , 
                        | 
                        a(href="https://www.artangel.org.uk/") ArtAngel
                        | ,
                        | 
                        a(href="https://https://staatsloterij.nederlandseloterij.nl/") Staatsloterij
                        | 
                        | and
                        |
                        a(href="https://https://www.elizawashere.nl/") Eliza was here

                

        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-6687146-13', 'auto');
            ga('send', 'pageview');

