doctype html
html
    head
        title Man van het web
        link(href='stylesheets/style.css', rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i", rel="stylesheet")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        #container
            #placeholder
                h1 MVHW
                h2 Man van het web

                h3 Contact
                ul
                    li 
                        a(href="https://linkedin.com/in/martijngorree") Martijn Gorree
                    li 
                        a(href="mailto:martijn@manvanhetweb.nl") martijn@manvanhetweb.nl
                    li 
                        a(href="tel:+31612440841") +31 6 12 44 08 41
                
